<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liaoyin.lyproject.dao.MOverTimeJobMapper">
  <resultMap id="BaseResultMap" type="com.liaoyin.lyproject.entity.MOverTimeJob">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mateId" jdbcType="INTEGER" property="mateid" />
    <result column="overDate" jdbcType="TIMESTAMP" property="overdate" />
    <result column="mold" jdbcType="INTEGER" property="mold" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <select id="selectOverTimeJobToMateIdAndStatus" resultMap="BaseResultMap">
    select  * from m_overtime_job where mateId=#{mateId,jdbcType=INTEGER} and mold=#{mold,jdbcType=INTEGER} and status=0
  </select>
  <select id="selectOverTimeJobToMateIdAndStatusAll" resultMap="BaseResultMap">
    select  * from m_overtime_job where mateId=#{mateId,jdbcType=INTEGER} and mold=#{mold,jdbcType=INTEGER} and status=0
  </select>
  <select id="selectOverTimeJobAll" resultMap="BaseResultMap">
    select * from m_overtime_job where status=0
  </select>
  <select id="selectOvertimeErroData" resultType="java.util.Map">
    select mateId,count(*) as count from m_overtime_job where status=0 group by mateId having count>1;
  </select>
</mapper>