<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liaoyin.lyproject.dao.TSystemUserMapper">
  <resultMap id="BaseResultMap" type="com.liaoyin.lyproject.entity.TSystemUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userAccount" jdbcType="VARCHAR" property="useraccount" />
    <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="userPhone" jdbcType="VARCHAR" property="userphone" />
    <result column="isLock" jdbcType="INTEGER" property="islock" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="lastLoginDate" jdbcType="TIMESTAMP" property="lastlogindate" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <select id="selectSystemUserPhone" resultMap="BaseResultMap">
    select  * from t_systemuser t where t.userPhone=#{phone,jdbcType=VARCHAR}
  </select>
  <select id="selectSystemUserAll" resultType="java.util.Map">
    select id,userAccount,userPhone,isLock,realName,lastLoginDate,createDate from t_systemuser order by createDate asc
  </select>
</mapper>